
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

/* Configuración global */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Cabin', sans-serif;
}

hr {
  border-top: 1px solid black;
}

/* Buttons */

.homeButton {
  font-size: 20px;
  color: #fff;
  background-color: #a71f1f;
  padding: 10px 30px;
  border: none;
  min-width: 15%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 10px;
  transition: 639ms;
  cursor: pointer;
}

.homeButton:hover {
  transition: 639ms;
  background-color: #a84a4a;
  color: #ffffff;
  border: none;
}

.button-card {
  height: 2rem;
  width: 40%;
  color: white;
  font-size: 1rem;
  text-align: center;
  background-color: #a71f1f;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.checkOut-btn.button-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  width: auto;
  padding-inline: 2rem;
}

.timeOut-btn-1.button-card {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.cash {
  cursor:not-allowed ;
  opacity: 0.5;
  text-decoration: line-through;
}

/* Images */

.logo {
  width: 50vh;
}

.icon {
  font-size: 1.5rem;
  max-width: 35px;
  max-height: 35px;
}

.icon-info {
  position: absolute;
  font-size: 2rem;
  margin: 0.5rem;
  top: 0;
  right:0;
  cursor: pointer;

}

.return {
  width: 100px;
  height: 100px;
  transition: transform 0.5s;
}

.return:hover {
  transform: scale(1.5);
}

.custom-ramen-image {
  background-image: url('./public/images/CustomRamen.jpeg');
  background-position: center center;
  background-size: 100vh;
  width: 500px;
  height: 75vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  max-width: 50%;
  border-radius: 15px;
  cursor: pointer;
}

.modal-content .card-image {
  max-width: 30%;
}

/* Carousel */

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-container:before,
.carousel-container:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  z-index: 1;
  pointer-events: none;
}

.carousel-container:before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.carousel-container:after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

/* Containers */

.page-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.page-subcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.custom-page-container {
  display: flex;
}

.custom-page-container .page-subcontainer {
  text-align: center;
  width: 80%;
}

.custom-item-cart {
  width: 20%;
  height: 100vh;
  background-color: #a71f1f;
}

.logo-container {
display: flex;
flex-direction: column;
align-items: center;
}

.home-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.return-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  
}

.card-container {
  display: grid;
  grid-template-columns: 1fr; /* una sola columna */
  grid-template-rows: repeat(2, 1fr); /* dos filas */
  grid-auto-flow: column; /* los elementos adicionales se colocan en columnas */
  height: 75vh;
}

.primary-container {
  position: relative;
  background-color:rgb(245, 241, 234);
  width: 250px;
  height: 300px;
  margin: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

/* Info Modal */

.modal-background {
  position: fixed; /* Fijo en la pantalla */
  z-index: 2; /* Por encima de los demás elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilitar el scroll si es necesario */
  background-color: rgba(255, 255, 255, 0.801); /* Color de fondo semi-transparente */
}

.modal-content {
  position: fixed; /* Fijo en la pantalla */
  z-index: 2;
  background-color: rgb(219, 218, 218); /* Color de fondo gris */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto; /* Centrado */
  padding: 2%; /* Relleno */
  border-radius: 15px;
  width: 40%; /* Ancho mediano */
  height: 60%; /* Alto mediano */
  top: calc(50% - 30%); /* Centrado vertical */
  left: calc(50% - 20%); /* Centrado horizontal */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.info-text {
  font-weight: bold;
}

.info-title {
  font-size: 2.5rem;
}

ul.lista-modal {
  columns: 3;
  gap: 2rem;
  -webkit-columns: 3;  /* Chrome, Safari, Opera */
  -moz-columns: 3;  /* Firefox */
}

/* Shopping Cart Modal */

.shopping-cart {
  position: absolute;
  bottom: 0;
  right: 300px;
  width: 300px;
  height: 85%;
  background: rgb(242, 242, 242);
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.shopping-cart-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shopping-cart-container .return-container {
  justify-content: space-around;
  background-color:rgb(240, 233, 220);
}

.shopping-cart-container .icon {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.5rem;
}

.li-container .icon {
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.list-cart-buttons {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  width: 90%;
  gap: 1rem;
}

ul.list-cart {
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.list-cart {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
  height: 60vh;
  
}

.li-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
  height: 2.2rem;
  border-radius: 15px;
  background-color:rgb(240, 233, 220);

} 

p.item-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #a71f1f;
}

.not-item-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #a71f1f;
}

.card-title {
margin-inline: 1.5rem;
}

/* TimeOut Modal */

.timeOut-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.timeOut.modal-content {
  width: 30%; /* Ancho mediano */
  height: 40%; /* Alto mediano */
  top: calc(50% - 20%); /* Centrado vertical */
  left: calc(50% - 15%); /* Centrado horizontal */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.timeOut.modal-content h2 {
  text-align: center;
}

.countdown {
  color: #a71f1f;
  font-size: 4rem;
}

/* Reset container */

.modal-content.reset-container {
  width: 20%; /* Ancho mediano */
  height: 15%; /* Alto mediano */
  top: calc(50% - 7.5%); /* Centrado vertical */
  left: calc(50% - 10%); /* Centrado horizontal */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* Custom page */

.custom-item-header {
}

.custom-item-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: bisque;
}

.custom-item-body ul {
  padding: 0;
  margin: 0;
}

.custom-item-body li {
  display: flex;
  width: 70%;
 justify-content: center;
 background-color: aqua;
}

.custom-item-body label {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #a84a4a;
}

/* CheckOut */

.checkOut-page {
  height: 100vh;
  display: flex;
}

.checkOut-container {
  margin: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around ;
}

.checkOut-title {
  position: fixed;
  top: 3%;
  left: 5%;
  color: rgba(0, 0, 0, 0.8);
  
}

.checkOut-container ul {
  padding: 2rem;
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color:rgb(240, 233, 220);
  list-style: none;
  overflow: auto;
  scroll-behavior: smooth;
}

.checkOut-pay {
  margin: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;

}

.checkOut-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.checkOut-resume {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

.checkOut-resume-total {
  width: 60%;
}

.checkOut-resume-total p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  text-align: center ;
}

.total {
  display: flex;
  justify-content: space-around;
  margin: -1rem;
}

.checkOut-footer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkOut-footer .checkOut-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.checkOut-pay .checkOut-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Payment */

.payment-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.payment-page .item-name {
  color: #a71f1f;
}

.page-subcontainer.payment-page {
  background-color: rgb(250, 250, 250);
}

.payment-back {
  display: flex;
  align-items: center;
}

.payment-back .countdown {
  color:#a71f1f ;
  font-size: 1.5rem;
  padding: 1rem;
}

/* Loading */

.loading-container {
display: flex;
flex-direction: column;
align-items: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.isLoading {
  border: 6px dotted rgb(54, 54, 54);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  animation: loading 2s infinite linear;
}

